@model IEnumerable<WebEmpleados.Models.Cargos>
@{
    ViewBag.Title = "Cargos_Index";
    bool par = false;
}

<h2 style="color: white; margin-bottom: 20px;">Lista de cargos</h2>

@Html.ActionLink("Añadir cargo", "Add", null, new { @class = "cargos_link", @style = "font-size: 18px" })

@foreach (var item in Model)
{
    <div style="@(par ? "background:#3366FF;" : "background:#6699FF;");" class="cargos_sections">

        <h2>@item.nombre</h2>
        <h4>Empleados:</h4>

        @foreach (var empleado in item.Empleados)
        {
            <ul>
                <li>@empleado.nombre @empleado.apellidos (@empleado.dni)</li>
            </ul>
        }

        <div style="position: relative;">

            @Html.ActionLink("Editar cargo", "Editar", new { id = item.id }, new { @class = "cargos_link" })
            @Html.ActionLink("Eliminar cargo", "Eliminar", new { id = item.id }, new { @class = "cargos_link link_eliminar" })

        </div>

    </div>

        par = !par;
}
